.jumbotron h1{
  text-align: center;

}

.form{
  margin: auto;
  width: 40%;
  margin-top: 130px;
  color: white;
  font-weight: 500;
}
.form p{
    text-align: center;
}
.form p button{
  width: 70%;
}
#parta{
  background-color: #333549;
  height: 605px !important;
}
#partb{
  height: 605px !important;
  background-image: url(../img/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.size{

  height: 320px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  /*
  overflow-x: scroll; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* white-space:nowrap; */
}
::-webkit-scrollbar{

   display: none;
}
.sizecard{
  /* height: 150px;
  display: inline-block; */
  padding: 2px;
  width: 250px !important;
  flex: 0 0 auto;
  padding: 15px;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.images{
  width: 100%;
  height: 180px;
}
body{
  background-color:rgba(0,0,0,0.1);
  color: #333;
}
.container-fluid{
  background-color: #fff;

}
.all{
  margin-left: 50px;
  margin-right:50px;

}
.card{
  box-shadow: none;
}
.bg-dar{
  background-color: rgba(0,0,0,0.1) !important;
}
#stiky{
  padding: 30px;
  position: fixed;
  z-index: 9999;
  right: 40px;

}
@media screen and (max-width:767px) {
  #stiky{
    display: none;
  }

}
#onetwo{
    border-right: 1px  solid rgba(0,0,0,0.2);
}
.navbar{
  height: 8vh;
  background-color: rgba(0,0,0,0.8) !important;
}
.single_business{
  height: 70vh;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-weight: 400;
  padding: 7px;
}
.imgFluid{
  height: 67vh !important;

}
@media screen and (max-width:367px) {
  .imgFluid{
    height: auto !important;

  }

}
#product{
  font-weight: 500;
}
.profile{
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
  height: 10vh;
}
.profile form{
  padding-bottom: 5px;
  float: right;
  width: 90%;

}
.profile img{
  padding: 5px;
}
.com{
  margin-left: 10vh;
  font-size: 13px;
  font-weight: 400;
}
h4{
  margin-left: 10px;
}
.categories{
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
}
