{%extends 'base.html'%}
{%load bootstrap4%}
{{block.super}}
{%block content%}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <form class="" action="index.html" method="post">
          {%csrf_token%}
          {%bootstrap_form form%}
          <p>or login with google <a href='{% url "social:begin" "google-plus" %}'>Google</a></p>
          <button class="btn btn-dark btn-sm" type="submit" name="button">Login</button>

        </form>
      </div>


    </div>
    <div class="col-md-6"></div>

  </div>

</div>
{%endblock%}
