{%extends 'registration/base.html'%}
{%load bootstrap4%}
{{block.super}}
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div id="parta" class="col-md-6">
      <div class="form">
        <form class="" action="/accounts/login/" method="post">
          {%csrf_token%}
          {%bootstrap_form form%}
          <p><button class="btn btn-dark btn-sm" type="submit" name="button">Login</button></p>
          <p>or login with google <a href='{% url "social:begin" "google-plus" %}'>Google</a></p>
          <p><a href="/accounts/register/">Sign Up</a></p>


        </form>
      </div>


    </div>
    <div id='partb' class="col-md-6">
      <h1>Image</h1>
    </div>

  </div>

</div>
{%endblock%}
