{%extends 'registration/base.html'%}
{%load bootstrap4%}
{{block.super}}
{%block content%}

<div class="container-fluid">
  <div class="row">
    <div id="parta" class="col-md-6">
      <div class="form">
        <p style="text-align:center"><img src="/static/img/do.png" alt=""></p>
        <form class="" action="/accounts/login/" method="post">

          {%csrf_token%}
          {%bootstrap_form form%}
          <p><button class="btn btn-dark btn-sm" type="submit" name="button">Login</button></p>
          <p>or login with google <br> <a class="btn btn-outline-warning btn-sm" href='{% url "social:begin" "google-plus" %}'> <img height="40" width="40" src="/static/img/search.png" alt=""> Google</a></p>
          <p>Dont have an account? <a href="/accounts/register/">Sign Up</a></p>


        </form>
      </div>


    </div>
    <div id='partb' class="col-md-6">
      <div class="partb">
        <h1>DOJO TRUST</h1>
        <h1><strong>REGISTER </strong> AND <strong>PUBLISH</strong> <br>YOUR PRODUCT</h1>
        <h1></h1>
        <h1>LET YOUR CUSTOMERS <strong>RATE</strong> AND <strong>REVIEW</strong> </h1>
        <h1>MAKE OTHER PEOPLE TRUST YOUR PRODUCT</h1>
      </div>

    </div>

  </div>

</div>
{%endblock%}
