{%extends 'base.html'%}
{%load ratings%}
{{block.super}}
{%block content%}
<div class="all">


<div style='' class="container-fluid">
  <div class="row">
    <div id="onetwo" class="col-md-9">
      <h4>Cars</h4>

      <div class="row">

        <div class="col-md-12">
          <div class="size">
          {%for busi in business%}

            <div class="card sizecard">
              <div class="card-header">
                <h6>{{busi.businesName}}</h6>
              </div>
              <div class="image">
                <img class="images" src="{{busi.image.url}}" alt="">
              </div>
            <div class="card-footer">
              <a href="{%url 'single' busi.id%}{{busi.businesName}}">View Ratings</a>
            </div>
            </div>

            {%endfor%}
              </div>
              <hr class="bg-dar">
        </div>




      </div>
      <div class="row">
        <h2>Agriculture</h2>
        <div class="col-md-12">
          <div class="size">
          {%for busi in agriculture%}

            <div class="card sizecard">
              <div class="card-header">
                <h6>{{busi.businesName}}</h6>
              </div>
              <div class="image">
                <img class="images" src="{{busi.image.url}}" alt="">
              </div>
            <div class="card-footer">
              <a href="{%url 'single' busi.id%}{{busi.businesName}}">View Ratings</a>
            </div>
            </div>

            {%endfor%}
              </div>
              <hr class="bg-dar">
        </div>

      </div>
      <div class="row">
        <h4>Clothes</h4>
        <div class="col-md-12">
          <div class="size">
          {%for busi in wear%}

            <div class="card sizecard">
              <div class="card-header">
                <h6>{{busi.businesName}}</h6>
              </div>
              <div class="image">
                <img class="images" src="{{busi.image.url}}" alt="">
              </div>
            <div class="card-footer">
              <a href="{%url 'single' busi.id%}{{busi.businesName}}">View Ratings</a>
            </div>
            </div>

            {%endfor%}
              </div>
              <hr class="bg-dar">
        </div>

      </div>
      <div class="row">
        <h4>Real Estate</h4>
        <div class="col-md-12">
          <div class="size">
          {%for busi in estate%}

            <div class="card sizecard">
              <div class="card-header">
                <h6>{{busi.businesName}}</h6>
              </div>
              <div class="image">
                <img class="images" src="{{busi.image.url}}" alt="">
              </div>
            <div class="card-footer">
              <a href="{%url 'single' busi.id%}{{busi.businesName}}">View Ratings</a>
            </div>
            </div>

            {%endfor%}
              </div>
              <hr class="bg-dar">
        </div>

      </div>



    </div>
    <div id="stiky" class="col-md-3">
      <p id="product" class="animated fadeIn">Top Product Based on Reviews</p>
      {%for busi in top%}
    <div class="card">
      <div class="card-header">
        {{busi.businesName}} <a href="{%url 'single' busi.id%}{{busi.businesName}}">See Reviews</a>
      </div>
      <img class="img-fluid" src="{{busi.image.url}}" alt="">
      <div class="card-footer">
      <p style="text-align:center"> <span  style="margin-left:10px;"class="badge badge-pill badge-primary">Rated {{count}} of 10</span></p>
      </div>
    </div>
    <div class="card">
      <i>This is the best site ever</i>

    </div>
    {%endfor%}


    </div>

  </div>


</div>
</div>

{%endblock%}
