{%extends 'base.html'%}
{{block.super}}
{%block content%}
<div class="jumbotron">
<h1>Dojo review</h1>

{%if user.is_authenticated%}
<p>Welcome {{user.username}}</p>
{%endif%}
</div>
<div class="container">
  <div class="row">
    {%for busi in business%}
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h6>{{busi.businesName}}</h6>

        </div>

          <img class="img-fluid" src="{{busi.image.url}}" alt="">
  

      </div>

    </div>
    {%endfor%}

  </div>

</div>

{%endblock%}
