{%extends 'base.html'%}
{%load ratings%}
{{block.super}}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h4>Cars</h4>

      <div class="row">

        <div class="col-md-12">
          <div class="size">
          {%for busi in business%}

            <div class="card sizecard">
              <div class="card-header">
                <h6>{{busi.businesName}}</h6>
              </div>
              <div class="image">
                <img class="images" src="{{busi.image.url}}" alt="">
              </div>
            <div class="card-footer">
              <a href="{%url 'single' busi.id%}{{busi.businesName}}">View Ratings</a>
            </div>
            </div>
            {%endfor%}
              </div>
        </div>




      </div>
      <div class="row">
        <h2>Agriculture</h2>

      </div>



    </div>
    <div class="col-md-3">
      <h1>side things</h1>


    </div>

  </div>


</div>

{%endblock%}
