{%extends 'base.html'%}
{%load ratings%}
{{block.super}}
{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h4>Cars</h4>

      <div class="row">
        {%for busi in business%}
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h6>{{busi.businesName}}</h6>

            </div>

              <img class="img-fluid" src="{{busi.image.url}}" alt="">


          </div>

        </div>

          {%endfor%}


      </div>



    </div>
    <div class="col-md-4">
      <h1>side things</h1>
      <div style="color:white;padding:20px;background-color:#848" class="card">
          {%ratings busi icon_width=25%}
      </div>


    </div>

  </div>

</div>

{%endblock%}
