{%extends 'base.html'%}
{%load bootstrap4%}
{%load ratings%}
{{block.super}}
{%block content%}
<div class="all">


<div class="container-fluid">

  <div class="single_business">
    <div class="row">
      {%for busi in business%}
      <div class="col-md-4">
        <i>Company</i><h1>{{busi.businesName}}</h1>
        <i>Product description</i>
        <p>{{busi.description}}</p>
      </div>
      <div class="col-md-4">
        <div style="color:white;padding:20px;background-color:rgba(0,0,0,0.8)" class="card">
            {%ratings busi icon_width=25%}
        </div>
        <p class="alert alert-dark">Please Rate on a scale of ten and review this Product <br>Your feedback Is Valued</p>
        <br><br>
        <p class="alert bg-dark">{{message}}</p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid imgFluid" src="{{busi.image.url}}" alt="">
      </div>
      {%endfor%}
    </div>


  </div>

  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
      <br>
      <div class="profile">
        {%if profile %}
        <form class="form-group" action="" method="post">
          {%csrf_token%}
          {%bootstrap_form form layout='inline'%}
        </form>
          {%else%}

          <a style="float:right" class="btn btn-warning btn-sm" href="{%url 'profile'%}">Update profile</a>
          <input style="width:80%" class="form-control" placeholder="Please update your profile to Post A review" type="text" name="" value="">


        {%endif%}
        {%for pro in profile%}
        {%if pro.profile%}
          <img height="50" width="90" src="{{pro.profile.url}}" alt="user">
        
          {%endif%}
          {%endfor%}
      </div>
     </div>
    <div class="col-md-1"> </div>

  </div>
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-3">
      <img height="150" width="150" class="rounded-circle " src="/static/img/slogan.png" alt="">
      <br>
      {%for busi in business%}
      <p class="alert">{{busi.businesName}}</p>
      {%endfor%}
     </div>

     <div class="col-md-7">
       <h5 class="animated fadeIn">Reviews <i class="fas fa-comment-dots">{{reviews|length}}</i></h5>
       <hr>
       {%if reviews%}
       {%for rev in reviews%}
       <div class="comments">
         <img class="rounded-circle" height="50" width="50" src="{{rev.profile.profile.url}}" alt="user">
         <span>{{rev.user}}</span>
         <br>
         <span class="com">{{rev.review}}</span>


       </div>


       {%endfor%}
       {%else%}

       <p class="alert alert-dark">This Product Has no review</p>
       {%endif%}


     </div>
    <div class="col-md-1"> </div>

  </div>
</div>

{%endblock%}
